[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
bandit = "*"
safety = "*"
flake8 = "*"

[packages]
requests = "*"
pimetrics = "*"
prometheus-client = "*"
xmltodict = "*"
pyyaml = "*"

[requires]
python_version = "3.9"
