name: Build
on:
  push:
    branches:
      - master
      - jwt
    paths-ignore:
      - 'assets/**'
  workflow_call:
    inputs:
      tags:
        type: string
        required: false
        default: |
          type=sha
permissions:
  contents: read
  packages: write
jobs:
  test:
    uses: ./.github/workflows/test.yaml
  build:
    needs:
      - test
    uses: clambin/workflows/.github/workflows/build.yaml@main
    with:
      image: ghcr.io/clambin/mediamon
      tags: "${{ inputs.tags || 'type=sha' }}"
